<md-button aria-label="Add a new postit" class="md-primary md-fab md-fab-bottom-right" layout-align="center center" ui-sref="postits.add">
  <md-tooltip md-direction="top">
    Add a postit
  </md-tooltip>
  <i class="fa fa-plus"></i>
</md-button>

<div layout-padding>
  <h3 class="md-display-1">Sort</h3>
  <form name="sortForm" layout="row" layout-align="center center" novalidate autocomplete="off">
    <md-input-container flex>
      <md-select ng-model="selectedOrder" aria-label="Sort post-its">
        <md-option ng-repeat="option in ::PostitsListCtrl.orderOptions" ng-value="::option" ng-bind="::option.title" ng-selected="::option.name === PostitsListCtrl.orderOptions[4].name"></md-option>
      </md-select>
    </md-input-container>

    <md-button class="md-primary" ng-click="selectedOrder.reverse = !selectedOrder.reverse">
      <md-tooltip md-direction="top">
        Reverse order
      </md-tooltip>
      <i class="fa fa-exchange fa-rotate-90"></i>
    </md-button>
  </form>

  <h3 class="md-display-1">Filter</h3>
  <form name="filterForm" layout="column" layout-gt-xs="row" novalidate autocomplete="off">
    <md-input-container flex>
      <label>By title</label>
      <input type="text" ng-model="search.title">
    </md-input-container>

    <md-input-container flex>
      <label>Status</label>
      <md-select ng-model="search.status">
        <md-option ng-repeat="option in ::PostitsListCtrl.statusOptions" ng-value="::option.name" ng-bind="::option.title" ng-selected="::option.name === PostitsListCtrl.statusOptions[1].name"></md-option>
      </md-select>
    </md-input-container>

    <md-input-container flex>
      <label>Due date</label>
      <md-select ng-model="selectedDueDateFilter">
        <md-option ng-repeat="option in ::PostitsListCtrl.dueDateOptions" ng-value="::option.name" ng-bind="::option.title" ng-selected="::option.name === PostitsListCtrl.dueDateOptions[0].name"></md-option>
      </md-select>
    </md-input-container>
  </form>

  <div layout="row" layout-align="space-between center">
    <div layout="row" layout-align="center center">
      <h3 class="md-display-1">List</h3>
      <md-progress-circular md-mode="indeterminate" ng-show="PostitsListCtrl.loading"></md-progress-circular>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="md-primary" aria-label="Reset the postits" ng-click="PostitsListCtrl.reset()" ng-disabled="PostitsListCtrl.loading">
        <md-tooltip md-direction="top">
          Reset postits
        </md-tooltip>
        <i class="fa fa-undo"></i>
      </md-button>
      <md-button class="md-primary" aria-label="Refresh the postits" ng-click="PostitsListCtrl.query()" ng-disabled="PostitsListCtrl.loading">
        <md-tooltip md-direction="top">
          Refresh postits
        </md-tooltip>
        <i class="fa fa-refresh"></i>
      </md-button>
    </div>
  </div>
  <div layout="row" layout-wrap layout-align="center">
    <postit flex="100" layout="row" layout-padding class="{{postit.status}}" ng-class="{loading: PostitsListCtrl.loading}" ng-repeat="postit in PostitsListCtrl.postits | filter:search | dueDate:selectedDueDateFilter | orderBy:selectedOrder.name:selectedOrder.reverse" data="postit" on-set-status="PostitsListCtrl.setStatus(postit, status)" on-delete="PostitsListCtrl.remove(postit)"></postit>
  </div>
</div>
