<h3>Sort</h3>
<form name="sortForm" layout="row" layout-align="center center" novalidate autocomplete="off">
  <md-input-container flex>
    <md-select ng-model="selectedOrder" aria-label="Sort post-its">
      <md-option ng-repeat="option in ::orderOptions" ng-value="::option" ng-bind="::option.title" ng-selected="::option.name === orderOptions[1].name"></md-option>
    </md-select>
  </md-input-container>

  <md-button ng-click="selectedOrder.reverse = !selectedOrder.reverse">Reverse</md-button>
</form>

<h3>Filter</h3>
<form name="filterForm" layout="column" layout-gt-xs="row" novalidate autocomplete="off">
  <md-input-container flex>
    <label>By title</label>
    <input type="text" ng-model="search.title">
  </md-input-container>

  <md-input-container flex>
    <label>Status</label>
    <md-select ng-model="search.status">
      <md-option ng-repeat="option in ::statusOptions" ng-value="::option.name" ng-bind="::option.title" ng-selected="::option.name === statusOptions[0].name"></md-option>
    </md-select>
  </md-input-container>

  <md-input-container flex>
    <label>Due date</label>
    <md-select ng-model="selectedDueDateFilter">
      <md-option ng-repeat="option in ::dueDateOptions" ng-value="::option.name" ng-bind="::option.title" ng-selected="::option.name === dueDateOptions[0].name"></md-option>
    </md-select>
  </md-input-container>
</form>

<h3>Add a post-it</h3>
<form name="addForm" ng-submit="PostitSrv.add(postit, form)" novalidate autocomplete="off">
  <div layout="column" layout-gt-xs="row">
    <md-input-container flex>
      <label>Title</label>
      <input type="text" ng-model="postit.title">
    </md-input-container>

    <md-input-container flex>
      <label>Body</label>
      <textarea rows="3" ng-model="postit.body"></textarea>
    </md-input-container>

    <md-datepicker flex ng-model="postit.dates.dueAt" md-placeholder="Due date"></md-datepicker>
  </div>

  <div layout="row" layout-align="end">
    <md-button class="md-raised md-primary" ng-disabled="addForm.$invalid">Add</md-button>
  </div>
</form>

<h3>List</h3>
<div layout="row" layout-wrap>
  <div flex="50" layout="row" layout-padding ng-repeat="postit in PostitSrv.get() | filter:search | dueDate:selectedDueDateFilter | orderBy:selectedOrder.name:selectedOrder.reverse">
    <postit data="postit" on-set-status="PostitSrv.setStatus(postit, status)" on-delete="PostitSrv.remove(postit)"></postit>
  </div>
</div>
