<md-whiteframe class="md-whiteframe-1dp" flex>
  <div layout="row" layout-align="start center">
    <div class="md-headline">{{::PostitCtrl.postit.title}}</div>
    <div class="icon">
      <md-tooltip md-direction="right">
        The postit is expired
      </md-tooltip>
      <i class="fa" ng-class="{'fa-exclamation-triangle': PostitCtrl.PostitsSrv.isExpired(PostitCtrl.postit) && !PostitCtrl.PostitsSrv.is(PostitCtrl.postit, 'done')}"></i>
    </div>
  </div>
  <div class="md-subhead">{{PostitCtrl.postit.status | status}}</div>
  <div class="dates" layout="column">
    <span>Created at: {{PostitCtrl.postit.dates.createdAt | date:'medium'}}</span>
    <span>Due at: {{PostitCtrl.postit.dates.dueAt | date:'mediumDate'}}</span>
    <span ng-show="PostitCtrl.postit.dates.inProgressAt">In progress at: {{PostitCtrl.postit.dates.inProgressAt | date:'medium'}}</span>
    <span ng-show="PostitCtrl.postit.dates.doneAt">Done at: {{PostitCtrl.postit.dates.doneAt | date:'medium'}}</span>
  </div>
  
  <div class="body">{{::PostitCtrl.postit.body}}</div>
  
  <div class="actions">
    <md-button class="md-accent" ng-hide="PostitCtrl.PostitsSrv.is(PostitCtrl.postit, 'done')" ng-click="PostitCtrl.onSetStatus({postit: PostitCtrl.postit, status: 'done'})">Done</md-button>
    <md-button class="md-accent" ng-show="PostitCtrl.PostitsSrv.is(PostitCtrl.postit, 'todo')" ng-click="PostitCtrl.onSetStatus({postit: PostitCtrl.postit, status: 'progress'})">In progress</md-button>
    <md-button class="md-warn" ng-click="PostitCtrl.onDelete({postit: PostitCtrl.postit})">Remove</md-button>
  </div>
</md-whiteframe>