h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-family: 'Open Sans';
  font-weight: 100;
  text-align: center;
  color: #0288D1;
  border-bottom: 1px solid #ccc;
}

.row {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

input[type="text"],
input[type="password"],
input[type="email"] textarea {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 90px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
}

textarea {
  height: auto;
  min-height: 200px;
  padding: 50px 10px 10px 10px;
}

input[type="text"] + label,
input[type="password"] + label,
input[type="email"] + label,
textarea + label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  background: #0288D1;
  border-radius: 3px 0 0 3px;
  transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
  transform: translateZ(0) translateX(0);
}

textarea + label {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  padding-left: 10px;
}

textarea:focus {
  padding-top: 10px;
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="email"]:focus + label {
  transform: translateZ(0) translateX(-100%);
}

textarea:focus + label {
  transform: translateZ(0) translateY(-100%);
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}

input[type="radio"] + label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(1, .1, 0, 0.9) 0.1s;
    transform: translateZ(0) translate(-50%, -50%) scale(0);
  }
}

input[type="radio"]:checked + label {
  background: #0288D1;
  &:before {
    transform: translateZ(0) translate(-50%, -50%) scale(1);
  }
}

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: #ccc;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0288D1;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(1, .1, 0, 0.9) 0.1s;
    transform: translateZ(0) scale(0);
  }
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    height: 26px;
    width: 26px;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(1, .1, 0, 0.9);
    transform: translateZ(0) translateX(0);
  }
}

input[type="checkbox"]:checked + label {
  background: #0288D1;
  &:after {
    left: calc(100% - 28px);
    transform: translateZ(0);
  }
}

button {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  border: none;
  background: #0288D1;
  border-radius: 3px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.4;
}