<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Components</title>
    <link rel="stylesheet" href="main.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/components/app.js"></script>
  </body>
</html>
