postit {
  opacity: 1;
}

postit.loading {
  opacity: .3;
  pointer-events: none;
}

postit .md-subhead {
  color: #ccc;
  margin-bottom: 10px;
}

postit .dates {
  margin-bottom: 10px;
}

postit .body {
  margin-bottom: 10px;
}

.md-button.md-fab.md-fab-bottom-right {
  bottom: 30px;
  left: auto;
  position: fixed;
  right: 20px;
  top: auto;
}