postit {
  opacity: 1;
}

postit.loading {
  opacity: .3;
  pointer-events: none;
}

postit .icon {
  margin-left: 10px;
}

postit .icon .fa-exclamation-triangle {
  color: #f44336;
}

postit .md-subhead {
  color: #ccc;
  font-style: italic;
  margin-bottom: 10px;
}

postit.progress .md-subhead {
  color: #ffc107;
}

postit.done .md-subhead {
  color: #4caf50;
}

postit .dates {
  margin-bottom: 10px;
}

postit .body {
  margin-bottom: 10px;
}

.md-button.md-fab.md-fab-bottom-right {
  bottom: 30px;
  left: auto;
  position: fixed;
  right: 20px;
  top: auto;
}
